* {
  margin: 0;
  padding: 0;
  color: #1E1F21;
  font-size: 0.9rem;
  /* box-sizing: border-box */
}

body {
  /* background-color: black; */
  background: url("../img/pexels-free-nature-stock-1005309.jpg");
  background-size: cover;
  /* background-position: center center; */
  /* background-size: auto; */
  height: 100vh;
}



.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style-type: none;
}

.contentWrap {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}


.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  flex-direction: row;
}

.half {
  width: 50%;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}