@media (orientation: portrait) and (min-width: 280px) {
  .mainWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  .contentWrap {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    .left {
      display: flex;
      overflow: hidden;
      height: 40%;
    }
    .right {
      overflow: hidden;
      height: 60%;
    }
  }
}

@media (orientation: portrait) and (min-width: 320px) {
  .contentWrap {
    .left {
      height: 30%;
    }
    .right {
      height: 70%;
    }
  }
}

@media (orientation: portrait) and (min-width: 540px) {
  .contentWrap {
    align-items: center;
    margin-bottom: 10px;
    .left {
      width: 95%;
    }
    .right {
      width: 95%;
    }
  }
}

@media (orientation: landscape) and (min-width: 568px) {
  .mainWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  .halfWrap {
    height: 45%;
  }
  .contentWrap {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .left {
      display: flex;
      overflow: auto;
      width: 30%;
    }
    .right {
      overflow: auto;
      width: 70%;
    }
  } 
}

@media (orientation: landscape) and (min-width: 720px) {
  .contentWrap {
    margin-bottom: 5px;
    .left {
      justify-content: center;
    }
    .right {
      justify-content: center;
    }
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .mainWrap {
    .halfWrap {
      height: 40%;
    }
    .contentWrap {
      margin: 20px 0 5px 0;
      height: 60%;
    }
  }
}

@media (orientation: landscape) and (min-width: 1440px) {
  .mainWrap {
    overflow: auto;
    max-height: 4252px;
    .halfWrap {
      height: auto;
    }
    .contentWrap {
      margin: 40px 0 5px 0;
      overflow: auto;
      height: auto;
    }
  }
}

