* {
  margin: 0;
  padding: 0;
  color: #1E1F21;
}

body {
  padding: 0 20px 20px 20px;
  background-color: #DCE7F0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style-type: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  flex-direction: row;
}

.half {
  width: 50%;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
