.detailsSection {
    padding: 10px;
    background-color: black;
    color: #DCE7F0;
    width: 500px;
    p.detailsTitle {
        color: white;
        text-transform: uppercase;
        font-size: 1.4rem;
    }   
    .detailsWrap {
        position: relative; 
        display: flex;
        margin: 10px 0;   
        &:not(:first-of-type) {
            border-top: 1px solid grey;
        }
        .detailsName {
            width: 40%;
            color: #DCE7F0;
        }
        .detailsProp {
            color: #DCE7F0; 
            a {
                color: #DCE7F0;
            }
            li:hover {
                background-color: #5AA2EB;
                transition-duration: 0.3s;
                font-weight: 600;
            }
            a:hover {
                background-color: #5AA2EB;
                transition-duration: 0.3s;
                font-weight: 600;
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 1024px) {
    .detailsSection {
        width: 600px;
        max-height: 850px;
        overflow: auto;
        .detailsWrap {
            .detailsName {
                font-size: 1.3rem;
            }
            .detailsProp {
                font-size: 1.3rem;
                a {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-width: 1366px) {
    .detailsSection {
        width: 500px;
        max-height: 530px;
        overflow: auto;
        .detailsWrap {
            .detailsName {
                font-size: 1.5rem;
            }
            .detailsProp {
                font-size: 1.5rem;
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .detailsSection {
        width: 350px;
        max-height: 550px;
        overflow: auto;
        .detailsWrap {
            .detailsName {
                font-size: 1.3rem;
            }
            .detailsProp {
                font-size: 1.3rem;
                a {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    .detailsSection {
        width: 500px;
        max-height: 320px;
        overflow: auto;
        .detailsWrap {
            .detailsName {
                font-size: 1.1rem;
            }
            .detailsProp {
                font-size: 1.1rem;
                a {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 414px) {
    .detailsSection {
        width: 350px;
        max-height: 260px;
        overflow: auto;
        p.detailsTitle {
            font-size: 1.1rem;
        }  
        .detailsWrap {
            .detailsName {
                font-size: 0.9rem;
            }
            .detailsProp {
                font-size: 0.9rem;
                a {
                    font-size: .9rem;
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-width: 736px) {
    .detailsSection {
        width: 400px;
        max-height: 110px;
        p.detailsTitle {
            font-size: 1rem;
        }  
        .detailsWrap {
            .detailsName {
                font-size: 0.8rem;
            }
            .detailsProp {
                font-size: 0.8rem;
                a {
                    font-size: .8rem;
                }
            }
        }
    }
}





@media (orientation: portrait) and (min-width: 280px) {
    .detailsSection {
        width: 100px;
        max-height: 110px;
        p.detailsTitle {
            font-size: 1rem;
        }  
        .detailsWrap {
            .detailsName {
                font-size: 0.8rem;
            }
            .detailsProp {
                font-size: 0.8rem;
                a {
                    font-size: .8rem;
                }
            }
        }
    }

}