@media (orientation: portrait) and (min-width: 280px) {
  .starWars {
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  .starWars {
    padding: 15px 0;
  }
}

@media (orientation: portrait) and (min-width: 411px) {
  .starWars {
    padding: 10px 0;
  }
}


@media (orientation: landscape) and (min-width: 568px) {
  .starWars {
    padding: 15px 0;
    display: flex;
    justify-content: center;
  } 
}

@media (orientation: landscape) and (min-width: 731px) {
  .starWars {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  } 
}

