.starWars {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 150%;
    text-align: justify;
  }

@media (orientation: portrait) and (max-width: 414px) {
  .starWars {
    padding: 10px 0;
  } 
}

@media (orientation: landscape) and (max-width: 736px) {
  .starWars {
    padding: 5px 0;
  } 
}