.selectedList {
    width: 250px;
    max-height: 300px;
    overflow: auto;
    padding: 0px 20px; 
    background-color: black;
    
    a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: lightgrey;
        &:hover {
            background-color: grey;
            transition-duration: 0.3s;
            font-weight: 600;
        }
        &.active {
            font-weight: 600;
            background-color: grey;
        }
    }
    li {
        list-style-type: none;
        cursor: pointer;
        padding: 0;
        transition-property: background-color;
    }
}
