ul.selectedList {

    margin: 20px 10px;
    width: 250px;
    padding: 15px 20px;
    background-color: #2E6F9E;
}

ul.selectedList>li {

    list-style-type: none;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px 5px;
    transition-property: background-color;
}

ul.selectedList>li:hover {
    background-color: #5AA2EB;
    transition-duration: 0.3s;
    font-weight: 600;
}