// @import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";

nav {
  background-color: black;
  padding: 20px 0px;
  .mainMenu {
    padding: 10px 0px; 
  }
  ul {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    li {
      display: block;
      &:not(:first-child) {
        border-left: 1px dotted grey;
      }
      a {
        display: block;
        cursor: pointer;
        float: left;
        transition-property: background-color;
        padding: 5px 10px;
        text-decoration: none;
        text-transform: uppercase;
        span {
          color: lightgrey;
          font-size: 1.3rem;
          margin-left: 5px;
        }
        svg > path {
          fill: lightgrey;
          font-size: 3rem;
        }
        &.active {

          span {
            color: white;
            text-decoration: underline;
            font-weight: 700;
          }
        }
        &:hover span {
          color: white; 
        }
      }
    }
  }
}
  
.w3-modal {
  z-index:3;
  display:block;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}

.w3-modal-content {
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:300px;
  text-align: center;
}

.spinner{
  font-size: 5em;
  color: #556661;
  animation: spin 2s linear infinite;
}
  
@media (orientation: portrait) and (max-width: 1024px) {
  div.icon > span {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (max-width: 1366px) {

}

@media (orientation: portrait) and (max-width: 768px) {
  div.icon > span {
    font-size: 1rem;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  nav {
    padding: 10px 0px;
  }
  div.icon > span {
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) and (max-width: 414px) {
  nav {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  nav {
    padding: 10px 0px;
  }
  div.icon > span {
    font-size: 1.2rem;
  }
}



