



  
@media (orientation: portrait) and (min-width: 1px) {

}

@media (orientation: portrait) and (min-width: 360px) {
  nav ul li a {
    padding: 5px 15px;
    span {
      font-size: 1rem;
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  nav ul li a {
    padding: 10px 35px;
    span {
      font-size: 1.5rem;
    }
    .svg-inline--fa {
      font-size: 1.5rem;
    }
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  nav ul {
    margin: 0 30px;
    li a {
      padding: 10px 45px;
      span {
        font-size: 1.6rem;
      }
      .svg-inline--fa {
        font-size: 1.6rem;
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1px) {
  nav {
    background-color: black;
    padding: 5px 0px;
    .mainMenu {
      padding: 5px 0px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      li {
        display: block;
        &:not(:first-child) {
          border-left: 0;
        }
        a {
          display: block;
          cursor: pointer;
          float: left;
          transition-property: background-color;
          padding: 5px 5px;
          text-decoration: none;
          text-transform: uppercase;
          span {
            color: lightgrey;
            font-size: .8rem;
            margin-left: 5px;
          }
          svg > path {
            fill: lightgrey;
          }
          &.active {
            span {
              color: white;
              text-decoration: underline;
              font-weight: 700;
            }
          }
          &:hover span {
            color: white; 
          }
        }
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 568px) {
  nav ul li a {
    padding: 5px 10px;
  } 
}

@media (orientation: landscape) and (min-width: 1024px) {
  nav ul li a {
    padding: 5px 15px;
    span {
      font-size: 1.1rem;
    }
    .svg-inline--fa {
      font-size: 1.1rem;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 1366px) {
  nav ul li a {
    span {
      font-size: 1.7rem;
    }
    .svg-inline--fa {
      font-size: 1.7rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  nav ul li {
    &:not(:first-child) {
      border-left: 1px dotted white;
    }    
    a {

      span {
        font-size: 1.1rem;
      }
      .svg-inline--fa {
        font-size: 1.1rem;
      }
    }
  }
}

