input {
    &.search {
        margin: 20px 0 0 15%;
        padding: 5px 10px;
        outline: 0;
    }
} 

@media (orientation: portrait) and (max-width: 1024px) {
    input {
        &.search {
            margin: 20px 0 0 30px;
            font-size: 1.3rem;
        }
    } 
}

@media (orientation: landscape) and (max-width: 1366px) {
    input {
        &.search {
            margin: 20px 0 0 130px;
            font-size: 1.3rem;
        }
    } 
}


@media (orientation: landscape) and (max-width: 1024px) {
    input {
        &.search {
            margin: 20px 0 0 40px;
            font-size: 1.1rem;
        }
    } 
}

@media (orientation: portrait) and (max-width: 414px) {
    input {
        &.search {
            margin: 10px 0 0 65px;
            font-size: 1rem;
        }
    } 
}

@media (orientation: landscape) and (max-width: 736px) {
    input {
        &.search {
            margin: 5px 0 0 20px;
            font-size: 0.9rem;
        }
    } 
}