
@media (orientation: portrait) and (min-width: 1px) {
    div.start {
        display: flex;
        height: 100vh;
        justify-content: center;
        div.board {
            margin-top: 20px;
            background: black;
            padding: 10px 10px;
            flex-basis: 90%;
            height: fit-content;
            p {
                font-size: .9rem;
                margin: 5px 0;
                color: white;
            }
        }
    }
}

@media (orientation: portrait) and (min-width: 375px) {
    div.start div.board p {
        font-size: 1.2rem;
    }
}

@media (orientation: portrait) and (min-width: 411px) {
    div.start div.board p {
        font-size: 1.1rem;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    div.start div.board p {
        font-size: 1.6rem;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    div.start div.board p {
        font-size: 1.8rem;
    }
}

@media (orientation: landscape) and (min-width: 1px) {
    div.start {
        display: flex;
        height: 100vh;
        justify-content: center;
        div.board {
            margin-top: 20px;
            background: black;
            padding: 10px 10px;
            flex-basis: 90%;
            height: fit-content;
            p {
                font-size: .9rem;
                margin: 5px 0;
                color: white;
            }
        }
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    div.start div.board {
        margin-top: 80px;
        p {
            font-size: 1.3rem;
        }
    }
}

@media (orientation: landscape) and (min-width: 1366px) {
    div.start div.board p {
            font-size: 1.6rem;
    }
}
